body{
    margin:0;
    font-family:Segoe UI, sans-serif;
    background:#f3f5f7;
}

header{
    background:#0d3b66;
    color:white;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.search{
    width:300px;
    padding:10px;
    border:none;
    border-radius:5px;
}

.container{
    width:90%;
    margin:30px auto;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
    margin-bottom:20px;
}

h2{
    color:#0d3b66;
}

form{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
}

input, select{
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
}

button{
    background:#0d6efd;
    color:white;
    border:none;
    padding:12px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#084298;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th{
    background:#0d3b66;
    color:white;
}

th,td{
    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

.editar{
    background:#ffc107;
    color:black;
}

.eliminar{
    background:#dc3545;
}

.productos-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(280px,1fr));
    gap:25px;
    margin-top:30px;
}

.producto-card{
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
    transition:.3s;
}

.producto-card:hover{
    transform:translateY(-5px);
}

.producto-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.producto-info{
    padding:15px;
}

.producto-info h3{
    margin:0 0 10px;
    color:#0d3b66;
}

.producto-info p{
    margin:8px 0;
}

.acciones{
    display:flex;
    gap:10px;
    margin-top:15px;
}

.editar{
    flex:1;
    background:#ffc107;
    border:none;
    padding:10px;
    border-radius:5px;
    cursor:pointer;
}

.eliminar{
    flex:1;
    background:#dc3545;
    color:white;
    border:none;
    padding:10px;
    border-radius:5px;
    cursor:pointer;
}